body {
  font-family: 'Open Sans', sans-serif;
  color: black;
  max-width: 1250px;
  margin: auto;
  overflow: auto;
  /* background-image: image(some books); */
}

table {
  margin-top: 1.5rem;
  border-spacing: 0px;
  border-collapse: collapse;
  min-width: 80%;
  margin-right: auto;
  margin-left: auto;
  background: rgba(0,0,0,.5)
}

tr {
  margin-bottom: 8px;
  color: white;
  border-radius: 5px;
}

th {
  font-size: 1.5em;
  border: white 2px solid;
  padding: 20px;
}

td {
  border: white 2px solid;
  padding: 8px;
}

.back-wrapper {
  text-align: left;
    margin-top: 20px;
}

#back{
  color: black;
  margin-top: 10px;
}

.wrapper1 {
  text-align: center;
}

.wrapper2 {
  display: inline-block;
  width: 95%;
}

/* Blog Specific Stuff*/

.picture {
  border-radius: 100px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  height: 40px;
  width: 40px;
}

.single-post {
  width: 600px;
  height: 300px;
  padding: 10px;
  margin-bottom: 24px;
  display: inherit;
  border-radius: 5px;
  border: 1px solid rgba(230, 230, 230, 1);
  box-shadow: 0 1px 4px rgba(230, 230, 230, 1);
  overflow: hidden;
  position: relative;
}

.blog-header {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-items: center;
}

.blog-date {
  color: gray;
  padding: 0px;
  margin-top: auto;
  margin-bottom: auto;
}

.blog-title {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

.intro-paragraph {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  color: gray;

}

.blog-footer {
  padding-left: 20px;
  display: flex;
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 35px;
}

.share-icon {
  height: 25px;
  width: 25px;
  padding-left: 25px;
}

/* For Smaller Screens */
/*Need to think about any images, text sizing, etc.*/
@media(max-width: 485px){

  .single-post {
    width: 90%;
  }

  .blog-title {
    font-size: 1.5em;
  }
}
