body {
  font-family: 'Open Sans', sans-serif;
  color: black;
  max-width: 1250px;
  margin: auto;
  overflow: auto;
  /* background-color: rgb(210, 210, 212); */
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

table {
  margin-top: 1.5rem;
  border-spacing: 0px;
  border-collapse: collapse;
  min-width: 80%;
  margin-right: auto;
  margin-left: auto;
}

tr {
  margin-bottom: 8px;
  color: white;
  background: black;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-radius: 5px;
  position: relative
}

tr:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
}

.wrapper1 {
  text-align: center;
  display: flex;
}

.wrapper2 {
  display: inline-block;
  width: 95%;
}

.section{
  text-align: left;
}

#blog-section{
  background-image: url('./images/milky-way.jpg');
  background-position: center;
  object-fit: 'cover';
  background-repeat: no-repeat;
  overflow-y: scroll;
  max-height: 280px;
}

.blog-title {
  text-align: left;
  width: 70%;
}

.blog-date {
  position: absolute;
  right: 8px;
}

.nav-wrapper {
  /* background-color: white; */
  width: 100%;
  margin: 10px auto;
  position: fixed;
  margin: 1px;
  max-width: 1250px;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  background: black;
  height: 30px;
  align-items: center;
  margin: 3px 5px;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 5px;
}

.row:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
}

.picture {
  border-radius: 100px;
  margin: auto;
}

.about-text {
  margin-top: 0px;
  text-align: justify;
}

.icon {
  height: 28px;
  width: 28px;
}

#photo {
  display: none;
}

/* #photo:hover {
  cursor: pointer;
  animation: App-logo-spin infinite 6s linear;
  opacity: .5;
} */

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#contact-nav {
  display: none;
}

.copy-wrapper {
  width: 100%;
  display: inline-block;
  margin: 0px, 5px;
  max-width: 1250px;
}

#copyright {
  margin-block-start: 0em;
  margin-block-end: 0em;
  background-color: black;
  color: white;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#sidebar-wrapper {
  height: auto;
  background-image: url('./images/dp2.png');
  margin-right: 4px;
}

#sidebar {
  background: rgba(0, 0, 0, 0.6);
    height: 70vh;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: sticky;
    top: 50%;
    transform: translate(0, -40%);
}

#mobile-sidebar {
  display: none;
}

#interests {
  margin-bottom: 10px;
}

.hashspan {
  margin-top: -50px;
  padding-bottom: 50px;
  display:block;
}

/* For Smaller Screens */
/*Need to think about any images, text sizing, etc.*/
@media(max-width: 485px){

  .nav-wrapper {
    margin: 0px;
  }

  .navbar {
    margin: 0px;
  }

  #contact-nav {
    display: inherit;
  }


  #photo {
    display: inline;
  }

  #sidebar {
    display: none;
  }

  #blog-section{
    max-height: 185px;
  }

  #mobile-sidebar {
    display: flex;
    justify-content: space-around;
    margin: 10px 0px;
  }

  #copyright {
    margin-left: 0px;
    margin-right: 0px;
  }

}
